/* style.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  min-height: 100vh; /* Ensure it takes up at least the full viewport height */
  display: flex;
  flex-direction: column; /* Allows for flexible content layout */
}

.main {
  flex: 1; /* Ensures that the main content area expands to fill available space */
}

.up{
  background-color: #DADBF1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: #000;
  padding-right: 30px;

}



.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;

}
.logo a span{
  color: #fff;
  border-right: 2px #fff solid;
  padding-right: 10px;

}





.actions {
  display: flex;
}

.button {
  background-color: #4C5FD5;
  color: #fff;
  border: none;
  padding: 6px 32px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.button-sub{
  background-color:transparent;
  color: #fff;
  border: 1px #fff solid;
  padding: 6px 22px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.main {
  text-align: center;
  padding: 20px 0;
}

.title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search {

  margin-bottom: 20px;
}

.search input {
  width: 700px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.section {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.icon img {
  width: 100%;
  height: 100%;
}

.content {
  flex: 1;
}

.content h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.content p {
  font-size: 1rem;
  line-height: 1.5;
}

.learn-more {
  color: #2196F3;
  text-decoration: none;
  font-weight: bold;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: hsl(240, 5%, 8%);
  color: white;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  color: #a0aec0;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-section a:hover {
  color: #fff;
};